<div class="container box-shadow my-5 py-3 cards-comparison">
    <div class="specs-heading">
        <h3>NVIDIA GeForce RTX 3070 Popular Comparisons</h3>
        <p class="f-14 text-grey">
            Find out which of the 2 GPUs performs better, view a side-by-side specification comparison.
        </p>
    </div>

    
    <div class="row mt-5">
        <div class="col-lg-4 col-md-6 mb-3">
            <a href="#" class="box-shadow comparison-card">
                <div class="c-vs"><span>VS</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>GeForce RTX 3070</h4>
                    </div>
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>Radeon RX 6700 XT</h4>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-lg-4 col-md-6 mb-3">
            <a href="#" class="box-shadow comparison-card">
                <div class="c-vs"><span>VS</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>GeForce RTX 3070</h4>
                    </div>
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>Radeon RX 6700 XT</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <a href="#" class="box-shadow comparison-card">
                <div class="c-vs"><span>VS</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>GeForce RTX 3070</h4>
                    </div>
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>Radeon RX 6700 XT</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <a href="#" class="box-shadow comparison-card">
                <div class="c-vs"><span>VS</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>GeForce RTX 3070</h4>
                    </div>
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>Radeon RX 6700 XT</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <a href="#" class="box-shadow comparison-card">
                <div class="c-vs"><span>VS</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>GeForce RTX 3070</h4>
                    </div>
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>Radeon RX 6700 XT</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <a href="#" class="box-shadow comparison-card">
                <div class="c-vs"><span>VS</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>GeForce RTX 3070</h4>
                    </div>
                    <div class="col-6">
                        <img src="../../static/assets/img/rtx.png" alt="">
                        <h4>Radeon RX 6700 XT</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>